span.cm-plasm-custom0 {color: #B58900;}
span.cm-plasm-custom1 {color: #D33682;}
span.cm-plasm-custom2 {color: #CB4B16;}
span.cm-plasm-custom3 {color: #2AA198;}
span.cm-plasm-custom4 {color: #6C71C4;}
